name: SYNC PR AUTO MERGE

on:
  pull_request:
    branches:
      - main
#      - branch-2.3
#      - branch-2.4
#      - branch-2.5
#      - branch-3.0
    types:
      - opened

permissions:
  checks: write
  actions: write
  contents: write
  deployments: write
  discussions: write
  issues: write
  packages: write
  pages: write
  pull-requests: write
  repository-projects: write
  security-events: write
  statuses: write

jobs:
  pr-label:
    runs-on: ubuntu-latest
    env:
      PR_NUMBER: ${{ github.event.number }}
    outputs:
      labels: ${{ steps.labels.outputs.LABELS }}
    steps:
      - run: sleep 20
      - name: Get PR labels
        id: labels
        run: |
          set -x 
          labels=`curl -L \
                  -H "Accept: application/vnd.github+json" \
                  -H "Authorization: token ${{ secrets.SYNC_PAT }}" \
                  -H "X-GitHub-Api-Version: 2022-11-28" \
                  https://api.github.com/repos/${{ github.repository }}/pulls/${PR_NUMBER} 2>/dev/null \
                  | jq '.labels[].name'`
          labels=`echo "$labels" | tr "\"" " " | tr "\n" " "`
          echo "LABELS=$labels" >> $GITHUB_OUTPUT

  sync-info-check:
    needs: pr-label
    runs-on: ubuntu-latest
    if: >
      contains(github.event.pull_request.title, '(sync #') &&
      contains(needs.pr-label.outputs.labels, 'sync') &&
      !contains(needs.pr-label.outputs.labels, 'conflict') &&
      !contains(needs.pr-label.outputs.labels, 'pending')
    steps:
      - name: add automerge label
        uses: actions-ecosystem/action-add-labels@v1
        with:
          github_token: ${{ secrets.SYNC_PAT }}
          labels: automerge

      - uses: hmarr/auto-approve-action@v3
        with:
          review-message: "Auto approved sync PR"
          github-token: ${{ secrets.APPROVE_PAT }}

      - name: automerge
        uses: peter-evans/enable-pull-request-automerge@v3
        with:
          token: ${{ secrets.SYNC_PAT }}
          pull-request-number: ${{ github.event.pull_request.number }}
          merge-method: rebase